---
layout: page
title: About
permalink: /about/
date: 2018-01-01 00:00:00 -0600
tags: about resume
---

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-sm-4">
            <img class="mb-2 rounded-circle img-fluid d-block mx-auto" src="{{ "/assets/images/hooper.png" | prepend: site.baseurl }}"
                alt="" style="padding-top: 30px;">
        </div>
        <div class="col-sm-8">
            <h2 class="mt-4">Hello!</h2>
            <p>Hello, I'm Brian Hooper, and this is my field journal. I'm a husband, father, and technologist
                who lives, works, and plays in Nashville, Tennessee. This is simply a published collection of thoughts, ideas, 
                and notes that I've captured in my day-to-day.</p>
            </p>
            <p>As a Senior DevOps Consultant with <a href="https://aws.amazon.com/" target="_blank">Amazon Web Services (AWS)</a> I enjoy working with 
                enterprises around the globe supporting the delivery of their continuous improvement efforts through advanced platform and automation 
                capabilities. DevOps is the combination of cultural philosophies, practices, and tools that helps teams deliver end-to-end 
                applications and infrastructure solutions safely and at high velocity.</p>
                <a href="https://github.com/knowntraveler" class="fab fa-3x fa-github" style="text-decoration: none; padding: 10px; color: black;"
                    target="_blank"></a>
                <a href="https://www.linkedin.com/in/knowntraveler/" class="fab fa-3x fa-linkedin" style="text-decoration: none; padding: 10px; color: black;"
                    target="_blank"></a>
                <a href="https://twitter.com/known_traveler" class="fab fa-3x fa-twitter" style="text-decoration: none; padding: 10px; color: black;"
                    target="_blank"></a>
                <a href="mailto:hello@darkmatter.cloud" class="fas fa-3x fa-envelope" style="text-decoration: none; padding: 10px; color: black;"
                    target="_blank"></a>
            </p>
        </div>

    </div>
    <!-- /.row -->

    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-12 my-12">
            <h2>What I've Done</h2>
            <p class="card-text">
                I am a leader and practitioner who has been working in the field of 
                technology for around 15 years. I have experience working for large Fortune
                250 Companies as well as lean Startups. If you want to know more I keep my
                resume updated on <a href="https://www.linkedin.com/in/knowntraveler/" target="_blank">LinkedIn</a>.</p>
            <p class="card-text">
                A few things that I think are noteworthy:
                <ul>
                    <li>Founding Practitioner at <a href="https://gadgetry.io" target="_blank">Gadgetry.io</a> specializing in Cloud Architecture and Engineering Services</li>
                    <li>Completed several Datacenter Migrations to Amazon Web Services as 100% Managed Code Bases</li>
                    <li>Launched the Edo Interactive Platform as a Managed Service (Edo + Visa Europe)</li>
                    <li>Co-Creator of a Leadership and Communication Workshop Series at Unum</li>
                    <li>Co-Founded NoogaJS JavaScript Community in Chattanooga, Tennessee</li>
                </ul>
                <p class="card-text">
                    These days I am focused on Platform Engineering and Cloud Architecture. I spend majority of
                    my time as a Senior Consultant at <a href="https://aws.amazon.com/" target="_blank">Amazon Web Services (AWS)</a> working 
                    with enterprise product teams on their migration to the cloud, sunsetting of legacy datacenters, adoption of 
                    infrastructure as code, and building DevOps solutions via AWS services and open source technology.</p>
        </div>

    </div>
    <!-- /.row -->
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-12 my-12">
            <h2>What I Enjoy</h2>
            <p class="card-text">I consider myself very fortunate to have developed a rewarding career in
                technology which also happens to be my passion. When I am not busy at work I am usually in my
                home office tinkering around with my own projects. Outside of technology I enjoy the outdoors,
                cooking, traveling, and coaching youth soccer.</p>
            <p class="card-text">My Specialties:
                <ul>
                    <li>Open Source Technology</li>
                    <li>Cloud Architecture</li>
                    <li>Platform Engineering</li>
                    <li>Infrastructure as Code</li>
                    <li>DevOps and Microservices</li>
                    <li>IT Service Management (ITIL)</li>
                </ul>
            </p>
            <p class="card-text">I believe that businesses and teams of any size should experience the benefits
                of a well-equipped platform. Overall, I am most happy when I am working on projects that deliver
                significant value and create real momentum. 
            </p>
            <p class="card-text">I enjoy collaboration and am always open to exploring new projects. You 
                can reach me via email at <a href="mailto:hello@darkmatter.cloud">hello@darkmatter.cloud</a></p>
            <p>Cheers, </br>-Brian</p>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->