{{ define "main" }}

<!-- Search Content -->
<div class="col-lg-12 u-search-input-lg u-search-input-md u-search-input-sm">
    <div class="panel-body">
        <form onsubmit="return false;" role="search">
            <div class="input-group">
                <input id="searchinput" type="search" name="q" class="form-control"
                    placeholder="Search Site... ">
            </div>
        </form>
    </div>

</div>
<div class="col-lg-12 g-mt-25">
    <div id="results" class="u-search-results-lg u-search-results-md u-search-results-sm"></div>
</div>


{{ end }}

