{{ define "main" }}

<!-- Search Content -->
<div class="col-lg-12 g-mt-25">
  <div class="input-group">
    <input type="text" class="form-control" id="search-field" placeholder="Search for..." />
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" id="search-button">Search</button>
    </span>
  </div>
  <!-- /input-group -->
  <p style="text-align:right; font-size:10px;" id="found"></p>
  <div class="g-mt-25" id="results"></div>
</div>
</div>

{{ end }}