{{ define "main" }}

<!-- Post -->
<section class="container g-py-50">
    <div class="row g-mb-50">
        <div class="col-md-12 g-mb-10">
            <div class="mb-1">
                <h2 class="g-color-black mb-3">{{ .Title }}</h2>
                <span class="d-block g-color-black lead mb-1"><strong>Date:</strong> {{ .Date.Format "January 2, 2006" }} </span>
                <span class="d-block g-color-black lead mb-1"><strong>Author:</strong> {{ $.Param "author.name" }}</span>
            </div>
            <!-- Tags -->
            <div class="g-mb-1">
                <h3 class="h5 g-color-black mb-3">Tags:</h3>
                <ul class="u-list-inline mb-0">
                    {{ range .Params.tags }}
                    <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
                            href="{{ relURL (print "/tags/" . | urlize) }}">{{ . }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <!-- End Tags -->
            <div class="mb-5">
                <hr>
                {{ .Content }}
            </div>
        </div>

</section>

{{ end }}