<div class="row">
    <div class="col-12 col-md text-center">
        <img class="mb-2" src="{{ .Site.BaseURL }}img/backpack.png" alt="" width="48" height="48"> 
        <small class="d-block mb-3 text-muted">&copy; Traveler Theme 2023</small>
    </div>
    <div class="col-6 col-md">
        <h5>Let's Work Together</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://aws.amazon.com">Amazon Web Services</a></li>
            <li><a class="text-muted" href="https://gadgetry.io">Gadgetry</a></li>
            <li><a class="text-muted" href="https://geekdrink.io">GeekDrink (Coming Soon!)</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>Let's Stay Connected</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="mailto:hooper@knowntraveler.io"><i class="g-color-black fa fa-lg fa-envelope"></i> Email</a></li>
            <li><a class="text-muted" href="https://gitlab.com/KnownTraveler"><i class="g-color-black fab fa-lg fa-gitlab"></i> GitLab</a></li>
            <li><a class="text-muted" href="https://www.linkedin.com/in/knowntraveler/"><i class="g-color-black fab fa-lg fa-linkedin"></i> LinkedIn</a></li>

        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>Let's Get Ship Done!</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#"><b>Supply</b> &nbsp;&nbsp;&nbsp;(Coming Soon!)</a></li>
            <li><a class="text-muted" href="#"><b>Anvil</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Coming Soon!)</a></li>
            <li><a class="text-muted" href="#"><b>Traveler</b> (Coming Soon!)</a></li>
        </ul>
    </div>
</div>
<!-- /.row -->

<hr>
<div class="row">
    <div class="col-6 col-md">
        <p class="text-muted float-left">
            <!--<a href="https://gitlab.com/KnownTraveler/traveler/" target="_blank">Traveler Theme</a>-->
            Handcrafted by a <a href="https://gitlab.com/KnownTraveler" target="_blank">@KnownTraveler</a>
        </p>
    </div>
    <div class="col-6 col-md">
        <p class="text-muted float-right">
            <a href="https://opensource.org/licenses/MPL-2.0" target="_blank">Mozilla Public License 2.0</a>
        </p>
    </div>
</div>
<!-- /.row -->