<head>
    <!-- TITLE -->
    <title>Traveler</title>
    
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <!-- FAVICON -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    
    <!-- STYLES BOOTSTRAP -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- STYLES ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <!-- STYLES TRAVELER -->
    <!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}css/traveler-core.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/traveler-components.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/traveler-globals.css"> -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/traveler.css">
    
    <!-- STYLES CUSTOM -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css">

    <!-- SCRIPTS JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    
    <!-- SCRIPTS BOOTSTRAP + POPPER -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

    <!-- SCRIPTS FONT-AWESOME -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0=" crossorigin="anonymous"></script>
    
    <!-- SCRIPTS LUNR JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.8/lunr.min.js" integrity="sha256-34Si1Y6llMBKM3G0jQILVeoQKEwuxjbk4zGWXXMT4ps=" crossorigin="anonymous"></script>

    <!-- SCRIPTS MOMENT JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

    <!-- LUNR SEARCH JS -->
    {{ $lunrsearch := resources.Get "js/search.js" | resources.Minify }}
    <script src="{{ $lunrsearch.Permalink }}"></script>
</head>