<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #333;">
    <div class="container">
        <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ .Site.BaseURL }}about/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ .Site.BaseURL }}posts/">Blog</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pages
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/cover">Cover</a>
                        <a class="dropdown-item" href="/frontpage">Frontpage</a>
                        <a class="dropdown-item" href="/landing">Landing</a>
                        <a class="dropdown-item" href="/scroll">Scroll</a>
                        <a class="dropdown-item" href="/welcome">Welcome</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/about">About</a>
                        <a class="dropdown-item" href="/team">Team</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/fullwidth">Full Width</a>
                        <a class="dropdown-item" href="/album">Album</a>
                        <a class="dropdown-item" href="/product">Product</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/blog">Blog</a>
                        <a class="dropdown-item" href="/post">Post</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/portfolio-1">1 Column Portfolio</a>
                        <a class="dropdown-item" href="/portfolio-2">2 Column Portfolio</a>
                        <a class="dropdown-item" href="/portfolio-3">3 Column Portfolio</a>
                        <a class="dropdown-item" href="/portfolio-item">Portfolio Item</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog"></i> Slides
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/slides/sample-presentation">Sample Presentation</a>
                    </div>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li>
                <!-- <li class="nav-item pull-right">
                    <form class="navbar-form" role="search" action="{{ .Site.BaseURL }}search/">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q" id="search-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </li> -->
            </ul>
        </div>
    </div>
</nav>