{{ define "main" }}

<!-- HELLO -->
<section class="container g-pt-50 g-pb-10">
  <div class="row align-items-center">
    <div class="col-md-7 g-mb-30">
      <div class="g-mb-20">
        <span class="d-block g-color-gray-dark-v3 g-font-weight-700 g-font-size-24 text-uppercase">Hello!</span>
        <!-- <h2 class="h1 g-color-black g-font-weight-700 text-uppercase">@knowntraveler</h2> -->
      </div>

      <p class="lead">I'm Brian Hooper — husband, father, technologist — who lives, works, and plays in Nashville, Tennessee. 
        This is simply a collection of projects, ideas, and notes where I am focused in my day-to-day.</p>
      <p class="lead">Let's Stay Connected! </p>  
      <p class="lead">
        <ul class="list-inline mb-0">
          <li class="list-inline-item g-mx-5">
            <a target="_blank" href="https://devpost.com/knowntraveler">
                <i class="g-color-darkblue fab fa-3x fa-dev"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-5">
              <a target="_blank" href="https://gitlab.com/knowntraveler">
                  <i class="g-color-black fab fa-3x fa-gitlab"></i>
              </a>
          </li>
          <li class="list-inline-item g-mx-5">
              <a target="_blank" href="https://keybase.io/hooper">
                  <i class="g-color-orange fab fa-3x fa-keybase"></i>
              </a>
          </li>
          <li class="list-inline-item g-mx-5">
              <a target="_blank" href="https://www.linkedin.com/in/knowntraveler/">
                  <i class="g-color-blue fab fa-3x fa-linkedin"></i>
              </a>
          </li>
      </ul>
      </p>
    </div>
    <div class="col-md-5 g-mb-30">
      <div class="text-center">
        <img class="img-fluid mb-4" src="{{ .Site.BaseURL }}img/hooper.png" alt="Traveler Logo" width="256" height="256">
      </div>
    </div>
  </div>
  <hr>
</section>
<!-- End HELLO -->

<!-- Icon Blocks -->
<section class="container g-pt-10 g-pb-10">
    <!-- Heading -->
    <div class="row justify-content-center text-center g-mb-50">
      <div class="col-lg-9">
        <h2 class="h3 g-color-black g-font-weight-600 text-uppercase mb-2">Current Projects</h2>
        <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
        <p class="lead mb-0">Thoughtfully Designed and Handcrafted.</p>
      </div>
    </div>
    <!-- End Heading -->

    <div class="row">
      <div class="col-md-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
          <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
            <i class="icon-education-087 u-line-icon-pro"></i>
          </span>
          <img class="img-fluid mb-4" src="{{ .Site.BaseURL }}img/supply.png" alt="Traveler Logo" width="122" height="122">
          <h3 class="h5 g-color-black g-mb-10">Supply</h3>
          <p class="g-color-gray-dark-v4">Be Well-Equipped. Supply is a practitioner toolset designed for composing solutions.</p>
          <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
          <ul class="list-unstyled g-px-30 g-mb-0">
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Application + Command Line</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Open Source Project</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Developed using Golang</li>
            <li class="g-py-8">COMING SOON!</li>
          </ul>
        </div>
        <!-- End Icon Blocks -->
      </div>
      <div class="col-md-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
          <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
            <i class="icon-finance-009 u-line-icon-pro"></i>
          </span>
          <img class="img-fluid mb-4" src="{{ .Site.BaseURL }}img/anvil.png" alt="Traveler Logo" width="156" height="156">
          <h3 class="h5 g-color-black g-mb-10">Anvil</h3>
          <p class="g-color-gray-dark-v4">Be Well-Forged. Anvil is a practitioner tool designed for the modern craftsman.</p>
          <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
          <ul class="list-unstyled g-px-30 g-mb-0">
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Command Line Utility (CLI)</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Open Source Project</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Developed using Golang</li>
            <li class="g-py-8">COMING SOON!</li>
          </ul>
        </div>
        <!-- End Icon Blocks -->
      </div>
      <div class="col-md-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
          <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
            <i class="icon-finance-256 u-line-icon-pro"></i>
          </span>
          <img class="img-fluid mb-4" src="{{ .Site.BaseURL }}img/backpack.png" alt="Traveler Logo" width="156" height="156">
          <h3 class="h5 g-color-black g-mb-10">Traveler</h3>
          <p class="g-color-gray-dark-v4">Be Well-Traveled.  Traveler is a practitioner theme designed for technical writing.</p>
          <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
          <ul class="list-unstyled g-px-30 g-mb-0">
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Hugo Theme</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Open Source Project</li>
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Developed using Golang</li>
            <li class="g-py-8">COMING SOON!</li>
          </ul>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
  </section>
  <!-- End Icon Blocks -->

{{ end }}
