<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="container">
        
        <br>
        {{- partial "header.html" . -}}
        <br>
        
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        
        <br>
        {{- partial "footer.html" . -}}
        <br>
        </div>
        <!-- /container -->

        {{- partial "foot.html" . -}}
    </body>
</html>
