{{ define "main" }}

<div class="g-mb-100">
    <article class="g-my-20">
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </article>

    <!-- Ranges through content/posts/*.md -->
    {{ range first 10 .Pages }}
    <hr>
    <article class="g-mb-30">
        <div class="g-mb-10">
            <span class="d-block g-color-gray-dark-v4 g-font-weight-700 g-font-size-12 text-uppercase mb-2">{{ .Date.Format "January 2, 2006" }}</span>
            <h2 class="h4 g-color-black g-font-weight-600 mb-3">
                <a class="u-link-v5 g-color-black g-color-primary--hover" href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            <p class="g-color-gray-dark-v4 g-line-height-1_8"> {{ .Summary }}</p>
            <a class="g-font-size-13" href="{{ .Permalink }}">Read more...</a>
        </div>
    </article>

    {{ end }}

</div>
{{ end }}