{{ define "main" }}
{{ .Content }}
<!-- Profle Content -->
<div class="col-lg-9 g-mt-25">
    <!-- User Block -->
    <div class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-40">
        <div class="row">
            <div class="col-lg-4 g-mb-40 g-mb-0--lg">
                <!-- User Image -->
                <div class="g-mb-20">
                    <img class="img-fluid w-100" src="{{ .Site.BaseURL }}img/hooper.png" alt="{{ $.Param "profile.name" }}">
                </div>
                <!-- User Image -->

                <!-- User Contact Buttons -->
                <a class="btn btn-block u-btn-outline-primary g-rounded-50 g-py-12 g-mb-10"
                    href="mailto:hooper@knowntraveler.io">
                    <i class="icon-user-follow g-pos-rel g-top-1 g-mr-5"></i> <strong>Contact Me</strong>
                </a>
                <!-- End User Contact Buttons -->
            </div>

            <div class="col-lg-8">
                <!-- User Details -->
                <div class="d-flex align-items-center justify-content-sm-between g-mb-1">
                    <h2 class="g-font-weight-300 g-mr-10">{{ $.Param "profile.name" }}</h2>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item g-mx-2">
                            <a target="_blank" href="https://devpost.com/knowntraveler">
                                <i class="g-color-darkblue fab fa-2x fa-dev"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                            <a target="_blank" href="https://gitlab.com/knowntraveler">
                                <i class="g-color-black fab fa-2x fa-gitlab"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                            <a target="_blank" href="https://keybase.io/hooper">
                                <i class="g-color-orange fab fa-2x fa-keybase"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                            <a target="_blank" href="https://www.linkedin.com/in/knowntraveler/">
                                <i class="g-color-blue fab fa-2x fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End User Details -->

                <!-- Location -->
                <h4 class="h5 g-font-weight-700 g-mb-10">
                    <i class="icon-badge g-pos-rel g-top-1 g-mr-5 g-color-gray-dark-v5 fa fa-map-marker"></i> {{ $.Param "profile.location" }}
                </h4>
                <!-- End Location -->

                <hr class="g-brd-gray-light-v4 g-my-20">

                <p class="lead g-line-height-1_8">{{ $.Param "profile.bio" }}</p>

                <hr class="g-brd-gray-light-v4 g-my-15">

                <!-- Skills -->
                <div class="d-flex flex-wrap text-center">
                    {{ range $.Param "profile.skills" }}
                    <div class="g-mr-40 g-mb-20 g-mb-0--xl">
                        <h4 class="h6 g-font-weight-500"><strong>{{ . }}</strong></h4>
                    </div>
                    {{ end }}
                </div>
                <!-- End Skills -->
            </div>
        </div>
    </div>
    <!-- End User Block -->

    <!-- What I've Done -->
    <section class="container g-pt-10 g-pb-10">
        <div class="row align-items-center">
        <div class="col-md-12 g-mb-30">
            <div class="g-mb-20">
            <span class="d-block g-color-gray-dark-v3 g-font-weight-700 g-font-size-24 text-uppercase">What I've Done</span>
            </div>
    
            <p class="lead">I am a leader and practitioner who has been working in the field of technology for over  
                15 years. I have experience working for large Fortune 250 Companies as well as lean Startups. </p>
            <p class="lead">Noteworthy:
                <ul>
                    <li>Core Team Leader for AWS | Slalom Launch Centers</li>
                    <li>Enterprise Transformation Architect at Amazon Web Services </li>
                    <li>Core Contributor at NashDevOps Community in Nashville, Tennessee</li>
                    <li>Co-Founder and Practitioner at Gadgetry.io</li>
                    <li>Edo Datacenter Modernization to 100% managed code base in AWS</li>
                    <li>Launched Edo Interactive Platform as a Managed Service (Edo + Visa Europe)</li>
                    <li>Co-Creator of Leadership and Communication Workshop Series at Unum</li>
                    <li>Co-Founder NoogaJS JavaScript Community in Chattanooga, Tennessee</li>
                </ul>
            </p>
            <p class="lead">These days I am focused on Platform Engineering and Cloud Architecture. I spend majority of 
                my time as a Senior Consultant at Amazon Web Services (AWS) working with enterprise product teams on modernization 
                in the cloud, sunsetting of legacy datacenters, adoption of infrastructure as code, and building DevOps solutions 
                via AWS services and open source technology. </p>
        </div>
        </div>
        <hr>
    </section>
    <!-- End What I've Done -->

    <!-- What I Enjoy -->
    <section class="container g-pt-10 g-pb-10">
        <div class="row align-items-center">
        <div class="col-md-12 g-mb-30">
            <div class="g-mb-20">
            <span class="d-block g-color-gray-dark-v3 g-font-weight-700 g-font-size-24 text-uppercase">What I Enjoy</span>
            </div>
    
            <p class="lead">I consider myself very fortunate to have developed a rewarding career in technology which 
                also happens to be my passion. When I am not busy at work I am usually in my home office tinkering around 
                with my own projects. Outside of technology I enjoy the outdoors, cooking, traveling, and coaching youth sports. </p>
            <p class="lead">Specialities:
                <ul>
                    <li>Open Source Technology</li>
                    <li>Cloud Architecture</li>
                    <li>Platform Engineering</li>
                    <li>Infrastructure as Code</li>
                    <li>DevOps Automation</li>
                    <li>Practitioner Tools</li>
                </ul>
            </p>
            <p class="lead">I believe that businesses, teams and practitioners should experience the benefits being well-equipped. 
                Overall, I am most happy when I am working on projects that deliver significant value and create real momentum. I 
                enjoy collaboration and am always open to exploring new projects.  Let's Stay Connected! 
            </p>

        </div>
        </div>
        <hr>
    </section>
    <!-- End What I Enjoy -->    

    <!-- Experience Timeline -->
    <div class="card border-0 rounded-0 g-mb-40">
        <!-- Panel Header -->
        <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
            <h3 class="h6 mb-0">
                <i class="icon-briefcase g-pos-rel g-top-1 g-mr-5"></i> EXPERIENCE
            </h3>
        </div>
        <!-- End Panel Header -->

        <!-- Panel Body -->
        <div class="card-block  g-bg-white-gradient-v1--after g-pa-0">
            <ul class="row u-timeline-v2-wrap list-unstyled">
                {{ range $.Param "profile.experience" }}
                <li
                    class="col-md-12 g-brd-bottom g-brd-0--md g-brd-gray-light-v4 g-pb-30 g-pb-0--md g-mb-30 g-mt-20 g-mb-0--md">
                    <div class="row">
                        <!-- Timeline Date -->
                        <div class="col-md-3 align-self-center text-md-right g-pr-40--md g-mb-20 g-mb-0--md">
                            <h4 class="h5 g-font-weight-500"><a href={{ .url }} target="_blank">{{ .company }}</a></h4>
                            <h5 class="h6 g-font-weight-300 mb-0">{{ .dates }}</h5>
                        </div>
                        <!-- End Timeline Date -->

                        <!-- Timeline Content -->
                        <div class="col-md-9 align-self-center g-orientation-left g-pl-40--md">
                            <!-- Timeline Dot -->
                            <div class="g-hidden-sm-down u-timeline-v2__icon g-top-35">
                                <i
                                    class="d-block g-width-18 g-height-18 g-bg-primary g-brd-around g-brd-4 g-brd-gray-light-v4 rounded-circle"></i>
                            </div>
                            <!-- End Timeline Dot -->

                            <article class="g-pa-10--md">
                                <h3 class="h4 g-font-weight-500">{{ .title }}</h3>
                                <p class="mb-0">{{ .summary }}</p>
                            </article>
                        </div>
                        <!-- End Timeline Content -->
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
        <!-- End Panel Body -->
    </div>
    <!-- End Experience Timeline -->

    <!-- Education Timeline -->
    <div class="card border-0 rounded-0 g-mb-40">
        <!-- Panel Header -->
        <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
            <h3 class="h6 mb-0">
                <i class="icon-graduation g-pos-rel g-top-1 g-mr-5"></i> EDUCATION
            </h3>
        </div>
        <!-- End Panel Header -->

        <!-- Panel Body -->
        <div class="js-scrollbar card-block g-bg-white-gradient-v1--after g-pa-0">
            <ul class="row u-timeline-v2-wrap list-unstyled">
                {{ range $.Param "profile.education" }}
                <li
                    class="col-md-12 g-brd-bottom g-brd-0--md g-brd-gray-light-v4 g-pb-30 g-pb-0--md g-mb-30 g-mb-0--md">
                    <div class="row">
                        <!-- Timeline Date -->
                        <div class="col-md-3 align-self-center text-md-right g-pr-40--md g-mb-20 g-mb-0--md">
                            <h4 class="h5 g-font-weight-500">{{ .title }}</h4>
                            <h5 class="h6 g-font-weight-300 mb-0">{{ .dates }}</h5>
                        </div>
                        <!-- End Timeline Date -->

                        <!-- Timeline Content -->
                        <div class="col-md-9 align-self-center g-orientation-left g-pl-40--md">
                            <!-- Timeline Dot -->
                            <div class="g-hidden-sm-down u-timeline-v2__icon g-top-35">
                                <i
                                    class="d-block g-width-18 g-height-18 g-bg-primary g-brd-around g-brd-4 g-brd-gray-light-v4 rounded-circle"></i>
                            </div>
                            <!-- End Timeline Dot -->

                            <article class="g-pa-10--md">
                                <h3 class="h4 g-font-weight-500"><a href={{ .url }} target="_blank">{{ .school }}</a> - {{ .location }}</h3>
                                <p class="mb-0">{{ .degree }}</p>
                                <p class="mb-0">{{ .summary }}</p>
                            </article>
                        </div>
                        <!-- End Timeline Content -->
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
        <!-- End Panel Body -->
    </div>
    <!-- End Education Timeline -->

    <!-- Certification Timeline -->
    <div class="card border-0 rounded-0 g-mb-40">
        <!-- Panel Header -->
        <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
            <h3 class="h6 mb-0">
                <i class="icon-graduation g-pos-rel g-top-1 g-mr-5"></i> CERTIFICATIONS
            </h3>
        </div>
        <!-- End Panel Header -->

        <!-- Panel Body -->
        <div class="js-scrollbar card-block g-bg-white-gradient-v1--after g-pa-0">
            <ul class="row u-timeline-v2-wrap list-unstyled">
                {{ range $.Param "profile.certifications" }}
                <li
                    class="col-md-12 g-brd-bottom g-brd-0--md g-brd-gray-light-v4 g-pb-30 g-pb-0--md g-mb-30 g-mb-0--md">
                    <div class="row">
                        <!-- Timeline Date -->
                        <div class="col-md-3 align-self-center text-md-right g-pr-40--md g-mb-20 g-mb-0--md">
                            <h4 class="h5 g-font-weight-500">{{ .title }}</h4>
                        </div>
                        <!-- End Timeline Date -->

                        <!-- Timeline Content -->
                        <div class="col-md-9 align-self-center g-orientation-left g-pl-40--md">
                            <!-- Timeline Dot -->
                            <div class="g-hidden-sm-down u-timeline-v2__icon g-top-35">
                                <i
                                    class="d-block g-width-18 g-height-18 g-bg-primary g-brd-around g-brd-4 g-brd-gray-light-v4 rounded-circle"></i>
                            </div>
                            <!-- End Timeline Dot -->

                            <article class="g-pa-10--md">
                                <h3 class="h5 g-font-weight-500"><a href={{ .url }} target="_blank">{{ .certification }}</a></h3>
                                <p class="mb-0">{{ .summary }}</p>
                                <p class="mb-0">Issued: {{ .issued }} | Expires: {{ .expires }}</p>
                                <p class="mb-0">Credential ID: {{ .credential }}</p>
                            </article>
                        </div>
                        <!-- End Timeline Content -->
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
        <!-- End Panel Body -->
    </div>
    <!-- End Certification Timeline -->


</div>
<!-- End Profle Content -->

{{ end }}