---
layout: cover
title: Cover
permalink: /cover/
date: 2018-01-01 00:00:00 -0600
tags: cover template business
---

<header class="cover">
    <h1>Fellow Hobbyist</h1>
    <p class="lead" style="padding-top: 20px;">
        <a id="landing-btn" href="/home" class="btn btn-lg" style="background-color: #ffffff; color: black; ">Notes and Observations</a>
    </p>
</header>
